// Logo
.home__logo__wrapper {
  width: 4.5rem;
  padding: 0.25rem;
}

.sidebar__menu {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  li {
    margin-bottom: 20px;
    a {
      text-decoration: none;
      display: block;
      color: $light-bg-color;
      position: relative;
      &:hover {
        color: $light-purple;
      }
      &.is-active a {
        font-weight: bold;
        color: $light-purple;
      }
      img{
        width: 60px;
        margin: auto;
        display: block;
      }
    }
  }
}
