@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Font */
$primary-font: bangers;

$black: #000000;
$white: #ffffff;
$light-bg-color: #FFFFFF;
$dark-bg-color: #222222;
$dark-body-color: #111;
$base-body-color: #444;
$light-body-color: #777;
$active-color: #9055a2;
$border-color: #ccc;

//Other colors
$semi-dark-black: #222222;
$dark-gray: #121212;
$bright-green: #beef00;
$power-blue: #1400c6;
$teal-green: #03dac5;
$light-purple: #bb86fc;